page-premium-product {

    // .circle {    
    //     width: 100px;
    //     height: 100px;
    //     background: rgb(197, 151, 151);
    //     -moz-border-radius: 50px;
    //     -webkit-border-radius: 50px;
    //     border-radius: 50px;
    //     opacity: 0.7;
    //     margin: 0px 0px 100px 115px;
    //     .ponit{
    //         text-align: center;
    //         font-size: 50px;
    //     }
    // }

    img{
        height: 348px !important;
        widows: 348px !important;
    }
    .img-sl{
        margin-top: 230px;
    }


}
